@import "src/mixins";

.footnote {
  @include columns(8);

  @include smallDesktop {
    @include columns(4);
  }

  @include mediaMacbookProLarge {
    height: 0;
    left: 891px;
    top: -150px;
    position: relative;
    max-width: 313px;
    & + * {
      margin-top: -40px;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-white-100);
    margin: 0;
    border-left: 1px solid var(--color-white-100);
    padding-left: 24px;

    @include mediaMacbookProLarge {
      position: relative;
    }
  }
}