@import "src/mixins";

.figureStepBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 170px 0;
  margin-top: 180px;

  &__item {
    width: 100%;
    @include mediaIpadPro {
      max-width: 30%;
    }
  }
}

.howtoApply {
  margin-top: 200px;
}