@import "src/mixins";

.logo {
  font-family: elevon,sans-serif;
  font-weight: 200;
  font-style: normal;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: var(--color-white-082);

  &-wrapper {
    display: flex;
    top: 80px;
    position: absolute;
    z-index: 10;
    width: calc(100% - 100px);

    @include mediaIpadPro {
      top: 100px;
    }

    @include smallDesktop {
      top: 115px;
      width: calc(100% - 35%);
    }
    &_hidden {
      display: none;
      @include mediaMacbookProLarge {
        display: flex;
      }
    }
  }

  &-noeon {
    font-size: 50pt;
    letter-spacing: 0.2em;
    margin-left: 10px;
  }
  &-research {
    font-size: 25pt;
    letter-spacing: 0.5em;
  }
  &-link {
    text-decoration: none;
  }
  &-text {
    color: var(--color-white-082);
    font-size: 18px;
    line-height: 120%;
    position: absolute;
    left: 104px;
    width: calc(100% - 104px);

    @include mediaIpadPro {
      font-size: 25px;
      max-width: 388px;
      margin: 0;
      top: 8px;
    }

    @include smallDesktop {
      left: 136px;
    }

    &_hidden {
      display: none;
    }
  }
}