@import-normalize;

:root {
  --color-background: #121212;
  --color-white-100: #FFFFFF;
  --color-white-094: rgba(255, 255, 255, 0.94);
  --color-white-082: rgba(255, 255, 255, 0.82);
  --color-gray: #BABABA;
  --color-black: #000000;
  --color-black-082: rgba(0, 0, 0, 0.82);
  --transition-linear: linear 0.2s;
  --color-blue: #0057B7;
  --color-yellow: #FFD700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-black);
}

.fixed {
  position: fixed;
}

#root {
  position: relative;
  padding-top: 39px;
  padding-bottom: 166px;
}

.wrapper {
  width: 100%;
  padding: 0 8px;
  margin: 0 auto;
}

@media screen and (min-width: 390px) {
  .wrapper {
    padding: 0 21px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 16px;
    max-width: 843px;
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1728px) {
  .wrapper {
    max-width: 1470px;
  }
}
